[buildout]
parts = checkdocs test
versions = versions
extends = 
    http://dist.plone.org/release/4.3-latest/versions.cfg

develop = .
[checkdocs]
recipe = zc.recipe.egg
eggs = collective.checkdocs
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs =
    plone.subrequest[test]
defaults = ['--auto-color', '--auto-progress']

[versions]
zc.buildout =
setuptools =
plone.subrequest = >1.6.8
